/* .compare-container {
    border: 1px solid red;
    height: 45vh;
    width: 90%;
    background-color: var(--light-blue-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 40px auto;
}

.compare-container-div {
    display: flex;
    justify-content: space-evenly;
}

.compare-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    width: 30%;
    /* height: ; */
/* } */
/* 
.compare-container-card p {
    color: var(--homepage-text-color);
    text-align: center;
}

.compare-container-card img {
    width: 100px;
} */ 