.search-container {
    width: 75%;
    background-color: white;
    height: 128px;
    border-radius: 24px;
    margin: -60px auto;
    /* box-shadow: 0 4px 8px 0 #CED3D8, 0 6px 20px 0 #CED3D8; */
    /* box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.1); */
    filter: drop-shadow(0px 4px 20px #00000014);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-menu {
    width: 40%;
    height: 48px;
    color: var(--input-color);
    padding-left: 25px;
    border: 1px solid var(--input-color);
    border-radius: 12px;
    /* need to move dropdown arrow to the left */
}

.search-button {
    width: 30%;
    height: 48px;
    color: var(--white);
    background-color: var(--button-color);
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
}