.header-container {
    height: 60px;
    background-color: var(--header-footer-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    /* need to figure out how to make icons even with text */
}

.logo-container p {
    margin-left: 10px;
}
