/* .homepage-container p {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 3em;
} */

.compare-container {
    border: 1px solid red;
    height: 45vh;
    width: 90%;
    background-color: var(--light-blue-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 0 auto;
}

.compare-container-div {
    display: flex;
    justify-content: space-evenly;
}

.compare-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    width: 30%;
    height: ;
}

.compare-container-card p {
    color: var(--homepage-text-color);
    text-align: center;
}

.compare-container-card img {
    width: 100px;
}

.selection-container {
    display: flex;
}
