/* .homepage-container p {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 3em;
} */

#homepage-h2 {
    text-align: center;
    margin-top: 40px;
}

.city-button {
    height: 48px;
    width: 200px;
    background-color: var(--button-color);
    margin: 20px auto;
    border-radius: 12px;
    display: block;
    text-align: center;
    color: var(--white);
    padding-top: 20px;
}

.compare-container {
    border: 1px solid red;
    height: 45vh;
    width: 90%;
    background-color: var(--light-blue-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 40px auto;
}

.compare-container-div {
    display: flex;
    justify-content: space-evenly;
}

.compare-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    width: 30%;
    /* height: ; */
}

.compare-container-card p {
    color: var(--homepage-text-color);
    text-align: center;
}

.compare-container-card img {
    width: 100px;
}

.selection-container {
    display: flex;
}
